<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
    </head>

    <body>
        <header>
            <%- include('partials/header.ejs', {login: logine, date: year}); %>
        </header>
        
            <h1>Modifier les informations de l'élève</h1>

            <form action="/update/<%= index %>" method="post">
                <label for="nom">Noma:</label>
                <input type="text" id="noma" name="noma" value="<%= eleve.noma %>"><br>

                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" value="<%= eleve.nom %>"><br>

                <label for="nom">Prenom:</label>
                <input type="text" id="prenom" name="prenom" value="<%= eleve.prenom %>"><br>

                <label for="classe">Classe:</label>
                <input type="text" id="classe" name="classe" value="<%= eleve.classe %>"><br>

                <label for="age">Age:</label>
                <input type="text" id="age" name="age" value="<%= eleve.age %>"><br>

                <label for="solde1">Solde P1:</label>
                <input type="text" id="solde1" name="solde1" value="<%= eleve.solde1 %>"><br>

                <label for="solde2">Solde P2:</label>
                <input type="text" id="solde2" name="solde2" value="<%= eleve.solde2 %>"><br>

                <label for="solde3">Solde P3:</label>
                <input type="text" id="solde2" name="solde3" value="<%= eleve.solde3 %>"><br>

                <button type="submit">Enregistrer les modifications</button>
            </form>

            </br></br>

            <form action="/delete/<%= index %>" method="post" style="margin-top: 20px;">
                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élève ?')">Supprimer</button>
            </form>
        
    </body>
</html>
